@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f1f2f6;
  font-family: "Roboto Slab", serif;
  min-height: 100vh;
}

.team {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 20px 0;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #303036;
  box-shadow: 0 5px 25px #2f3031;
  z-index: 1000;
}

.logo {
  height: 60px;
  line-height: 60px;
  font-size: 33px;
  color: #81ecec;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  padding-left: 20px;
  cursor: pointer;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #b6e0e0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #303036;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #303036;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
  background-color: #eae2ee;
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background-color: #303036;
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}

#navbar.active {
  width: 450px;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

#navbar ul {
  list-style: none;
}

#navbar ul li a {
  color: #dfd0d0;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 23px;
  font-weight: 500;
  padding: 0 15px 10px 0;
}

#navbar ul li a:hover {
  color: #81ecec;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-size: 18px;
}

.intro-container {
  display: flex;
  padding: 30px;
  width: 45%;
  margin: 40px auto;
}

.intro-contain h2 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

.intro-contain p {
  padding: 20px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.intro p {
  text-align: left;
  font-size: 18px;
}

.image {
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 350px;
  margin: 20px;
  overflow: hidden;
}

.image img {
  opacity: 1;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}

.color-box {
  position: absolute;
  right: 40%;
  left: 30%;
  top: 10%;
  background-color: #caf8f8;
  border-radius: 10px;
  height: 70%;
  width: 45%;
  z-index: -1;
}

.color-box1 {
  position: absolute;
  right: 40%;
  left: 25%;
  top: 20%;
  background-color: #eae2ee;
  border-radius: 10px;
  height: 70%;
  width: 45%;
  z-index: -1;
}

.image:hover img {
  opacity: 0.5;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #dfd0d0;
  width: 100%;
  height: 100%;
}

.image .details h2 {
  text-align: center;
  font-size: 37px;
  text-transform: lowercase;
  font-weight: 600;
  margin-top: 27%;
  transition: 0.5s;
  transition-property: transform;
}

.image .details h2 span {
  font-weight: 900;
}

.image:hover .details h2 {
  transform: translateY(-30px);
  color: #111010;
}

.image .details p {
  margin: 20px 30px 0 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}

.image:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
  color: #111010;
  font-weight: 600;
}

.introduction h2 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  background-color: #303036;
  color: #ebe7e7;
}

.introduction-container {
  padding: 20px;
  margin: 40px auto;
  text-align: center;
}

.introduction-container i {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin: 7px;
  border: 3px solid #eae2ee;
  border-radius: 30px;
  padding: 6px;
  width: 50%;
  margin-left: 25%;
  transition: width 2s;
}

.introduction-container i:hover {
  background-color: #eae2ee;
  width: 60%;
}

.gallery h2 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  background-color: #303036;
  color: #ebe7e7;
}

.gallery-container {
  position: relative;
  column-count: 4;
  padding: 20px;
  width: 80%;
  margin: 40px auto;
}

.gallery-image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}

.photogallery {
  width: 100%;
  transition: 0.25s ease-in-out;
}

.photogallery:hover {
  transform: scale(1.1);
}

.footer {
  background: #303036;
  color: #d3d3d3;
  height: 450px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 30px;
  margin: 5px;
}

.footer .logo-text {
  font-family: "Dosis", sans-serif;
  word-spacing: 6px;
}

.footer .footer-content h1 {
  color: #81ecec;
  margin-bottom: 10px;
}

.footer .footer-content h2 {
  color: #ebe7e7;
}

.footer .footer-content .about h1 span {
  color: #ece9e9;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 19px;
  margin-bottom: 15px;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: #81ecec;
  border-radius: 5px;
  transition: all 0.3s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}

.footer .footer-content .links p {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  transition: all 0.3s;
}

.footer .footer-content .links p:hover {
  color: white;
  margin-left: 15px;
  transition: all 0.2s;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  position: absolute;
}

.footer .footer-bottom {
  background: #393d40;
  position: fixed;
  height: 60px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 15px;
}

.footer-bottom .bottomLink {
  color: #81ecec;
}

.footer-bottom .bottomLink:hover {
  color: #ebe7e7;
}

@media only screen and (max-width: 1024px) {
  .team {
    height: 550px;
  }
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .color-box {
    display: none;
  }
  .color-box1 {
    display: none;
  }
  .intro-contain {
    width: 100%;
  }
  .image .details p {
    margin: 10px 30px 30px 30px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 934px) {
  .color-box {
    display: none;
  }
  .color-box1 {
    display: none;
  }
  .footer {
    height: auto;
  }
  .footer .footer-content {
    height: auto;
    flex-direction: column;
  }
  .map-responsive {
    padding-bottom: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .team {
    height: 350px;
  }
  .color-box {
    display: none;
  }
  .color-box1 {
    display: none;
  }
  section {
    min-height: 50vh;
  }
  .image img {
    width: 100%;
  }
  .image .details p {
    font-size: 16px;
  }
  .intro-container {
    margin: 0;
    width: 100%;
    padding: 20px;
    border: none;
  }
  .map-responsive {
    padding-bottom: 55%;
  }
  .logo {
    font-size: 16px;
  }
}

@media only screen and (max-width: 512px) {
  .logo {
    height: 60px;
    line-height: 60px;
    font-size: 10px;
  }
  .team {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .color-box {
    display: none;
  }
  .color-box1 {
    display: none;
  }
  .intro p {
    text-align: left;
    font-size: 17px;
    margin: 10px;
    padding: 5px;
  }
  .image .details h2 {
    margin: 60px 10px 0 20px;
  }
  .image .details p {
    margin: 20px 10px 0 20px;
    font-size: 17px;
    text-align: center;
  }
  .map-responsive {
    padding-bottom: 50%;
  }
}

/*# sourceMappingURL=style.css.map */